*:not(i) {
    font-family: 'Kanit', 'sans-serif' !important;
  }

html {
    font-size: inherit !important;
}  

.container {
    padding: 0 !important;
    max-width: 1180px !important;
}

.dashboard{
    min-height: calc(100vh - 80px - 174px) !important;
}

.content {
    padding: 0 5vw;
    margin: 0 auto;
}

.custom-course {
    display: flex;
    justify-content: center;
}

section {
    padding-bottom: 0 !important;
}

body {
    /* overflow-y: auto  !important; */
    font-size: initial !important;
}

.custom-btn-signin {
    background: rgb(181,67,33) !important;
    border-color: #fff !important;
    color: #fff !important;
}

.custom-btn-signin:hover {
    background: rgb(255, 255, 255) !important;
    border-color: rgb(181,67,33) !important;
    color: rgb(181,67,33) !important;
}

p .custom-padding-remove-top {
    padding-top:0;
    margin-top:0 !important; 
}

p + p {
    margin-top: 10px !important;
}

.view .text, .view .date {
    font-size: 14px !important;
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a , .top-menu li a{
    color: #ababab !important;
}

.login-register-content{
    margin-top:10vh !important;
}

.btn-a{
    background: #556 !important;
}

.custom-text{
    color: #b54321 !important;
    text-decoration: none !important;
}

.custom-text:hover, .btn .btn-a a ,.preview-specific-student-notice {
    color: #fff !important;
}

.dashboard {
    margin-top: 8vh;
}

.btn  {
    border: none !important;
    color: white !important;
}

.nav-tab a:hover ,.nav-tab a.active{
    border-bottom: none !important;
}

.program-list-wrapper {
    padding: 40px !important;
    margin-top: 8vh !important;
}

.topbar .container .row , .wrapper-footer footer#footer-openedx .colophon, .wrapper-footer footer#footer-openedx .footer-about-openedx:last-child {
    background: none !important;
    border: none !important;
}

.wrapper-profile  {
    /* margin-top : 12vh; */
    margin-bottom: 5vh; 
}

.global-header{
    border-bottom: none !important;
    padding-bottom: 0 !important;
}

.container > div {
    border: none !important;
}

.row , .topbar .container, #footer-openedx .container{
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}

.wrapper-profile-section-one{
    border-top: none !important;
}

.course-info header.course-profile {
    height: auto !important;
}

.custom-btn-enroll {
    padding: 10px 0;
    width: 50%;
}

.course-header{
    width: 250px;
    margin-bottom: 10px !important;
}

.course-profile {
    padding-top: 0 !important;
}

.course-profile {
    box-shadow: none !important;
    background: none !important;
    border-bottom: none !important;
}

#dashboard-main {
    margin-top: 0 !important;
}

.intro-inner-wrapper {
    border: none !important;
    box-shadow: none !important;
}

.register{
    background: #b54321 !important;
    border: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
    color: #fff !important;
}

.register:hover {
    background: #fff !important;
    border: 1px solid #b54321 !important;
    color: #b54321 !important;
    box-shadow: 2px 4px 14px rgba(80, 80, 80, 0.5);
    padding: 10px 0 !important;
}

.sign-in-btn {
    color: #fff !important;
}

.main-cta strong {
    background: #fff !important;
    border: 1px solid #b54321 !important;
    color: #b54321 !important;
    box-shadow: 2px 4px 14px rgba(80, 80, 80, 0.5);
    padding: 10px 0 !important;
    text-shadow: none !important;
    box-shadow: none !important;

}

.main-cta strong:hover {
    background: #b54321 !important;
    border: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
    color: #fff !important;
}

.dashboard .main-container .my-courses .course .details .enter-course ,.enter-course .archived .course-target-link{
    color: #b54321 !important;
    border: 1px solid #b54321 !important;

}

.dashboard .main-container .my-courses .course .details .enter-course:hover,.enter-course .archived .course-target-link:hover {
    color: #fff !important;
    border: 1px solid #fff !important;
    background: #b54321 !important;
}

.dashboard .main-container .my-courses .course .details .enter-course:focus,.enter-course .archived .course-target-link:focus {
    background-color: transparent !important;
}

.wrapper-course-details h3 a {
    color: #b54321 !important;
}

.custom-nav-preview-menu {
    min-width: 760px !important;
    width: 100% !important;
}

.wrapper-preview-menu {
    background: rgb(96, 96, 96) !important;
}

.page-content-container {
    max-width: 1180px !important;
    width: 100% !important;
}

.custom-page-header {
    margin: 0 !important;
}


.wrapper-footer footer .site-nav .nav-item .nav-link {
    color: #d8dade !important;
    text-decoration: none !important;
}

.mr5 {
    margin-right: 5px !important;
}

.custom-course-about {
    display: flex;
    flex-direction: row;
}

.custom-button {
    border: none !important;
    background-color: transparent !important;
    color: #313131 !important;
}

.custom-button span {
    color: #313131;
}

.custom-button  {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.custom-header {
    padding-bottom: 8px 0 !important;
    background-color: white  !important; 
    overflow: visible !important;
    box-shadow: none !important; 
}

.header-wrapper {
    background-color: white !important;
}

.logo {
    margin-left: 3vw;
    height: 60px !important;
}

.toggle-menu {
    color: #313131 !important;
    margin-right: 20px !important;
}

.title-slide {
    max-width: 100vw;
    overflow: hidden;
    white-space: initial;
   
}

.custom-navbar-right {
    display: flex;
    justify-content: flex-end;
    height: 60px;
    align-items: baseline;
}

.menu {
    height: 60px;
    width: inherit;
}

.mobile .menu .toggle-menu {
    top: 0;
}

.link-reset {
    color: #313131 !important;
    width: 100%;
}

.btn-login{
    color: white !important;
    background-color: rgb(181,67,33)!important;
    width: 100px !important;
    border: 1px solid white !important;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.btn-rgt{
    color: rgb(181,67,33) !important;
    font-weight: 600 !important;
    border: 1px solid rgb(181,67,33) !important;
    width: 100px !important;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.btn-rgt:hover{
    color: white !important;
    background-color:  rgb(181,67,33)!important;
}

.btn-login:hover{
    color: rgb(181,67,33) !important;
    background-color: white !important;
    border: 1px solid rgb(181,67,33) !important;
}

.global-header .nav-links .main .nav-tab a {
    padding: 0 20px !important;
}

.btn-group {
    display: block !important;
}

.navbar {
    margin-bottom: 0 !important;
    margin-top: 5vh !important;
}

.custom-search-all-post {
    margin-left: 10px !important;
    padding: 0 10px !important;
}

.view-discussion-home {
    display: block !important;
}

.wrapper-course-material {
    height: 100% !important;
}

.progress {
    background-color: transparent !important;
}

.dropdown-toggle:after {
    display: none !important;
}

.custom-preview-menu {
    margin-right: auto;
    margin-left: auto;  
    max-width: 1180px !important;
}

.article-wrapper {
    display: flex;
    flex-flow: row;
    width: 100%;
}

.wiki-wrapper section.wiki .article-functions {
    width: 40% !important;
}

.wiki-wrapper section.wiki .add-article-btn{
    text-shadow: none !important;
}

.breadcrumb{
    background-color: transparent !important;
}

.nav {
    display: flex !important;
    flex-wrap: wrap !important;
    padding-left: 0 !important;
    margin-bottom: 0 !important;
    list-style: none !important;
}

.nav-tabs > li > a {
    border: none !important;
    color: #000 !important;

}

.nav-tabs > li > a:hover {
    border: none !important;
    color: #ababab !important;
}

.modal.fade .modal-dialog {
    transform: none !important; 
}

.modal {
    background: transparent !important;
    box-shadow: none !important;
    left: 0 !important;
    margin-left: 0 !important;
    width: 100% !important;
}

.close-modal {
    float: right;

}

button.close-modal {
    background: transparent !important;
    color: #000 !important;
}

input[type="submit"] {
    background-image: none !important;
    background-color: #505460 !important;
    box-shadow: none !important;
    text-shadow: none !important;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-weight: 400 !important;
    font-size: 14px !important;
}

input[type="submit"]:hover {
    background-image: none !important;
    background-color:rgb(181,67,33) !important;
    color: #fff !important;
}

input[type="text"]:focus {
    border-color: #6f6f6f !important;
}

.portfolio-middle {
    position: relative !important;
}

.portfolio-middle .text {
    word-wrap: break-word;
}

.header-facets-list {
    border-bottom: 1px solid #e4e4e4;
}

.search-status-label{
    font-size: 2em !important;
}

.find-courses .filters .clear-filters {
    color: #d43f3a !important;
}

.find-courses .discovery-input{
    height: 100% !important;
}

.find-courses .discovery-submit{
    height: 100% !important;
    padding-bottom: 1vh !important;
}

.find-courses .courses {
    padding-top: 0 !important; 
}

.find-courses .search-facets {
    margin-top: 15px !important;
    margin-left: 2.9vh !important;
    height: 100%;
}

.find-courses .row{
    margin: 0 !important;

}

.search-catagories {
    display: flex;
}

.tp-banner ul {
    margin: 0 !important;
}

.forget-password {
    display: flex;
    flex-flow: column;
}

.forget-password-text  {
    font-size: 12px !important;
    text-align: right;
    padding-right: 10px;
}

@media screen and (max-width: 760px){
    .custom-course-about {
        flex-direction: column ;
        flex-flow: column-reverse;
    }
    .inner-wrapper, .heading-group{
        width: 90vw !important;
    }
    .media {
        width: 70vw !important; 
    }

    .tp-banner-container .rs_fullwidth {
        margin-top: 5vh !important;
    }

    .tp-revslider-mainul {
        margin-top: 5vh !important;
    }
    .tp-simpleresponsive ul {
        margin-top: 5vh !important;
    }
    .course-info .course-sidebar {
        width: 100% !important;
    }
    .wrapper-preview-menu {
        margin-top: 5vh !important;
    }
    .custom-course-info {
        margin-top: 5vh ;
    }
    .custom-wrapper-profile {
        margin-top: 5vh;
    }
    .account-settings-section-body .u-field-social {
        width: 100% !important;
    }
    .page-header {
        flex-flow: column !important;
    }
    .title-border {
        margin-bottom: 0 !important;
    }
    .page-header .page-header-secondary {
        flex-flow: column;
    }
    .article-wrapper {
        flex-flow: column;
    }
    .wiki-wrapper section.wiki .article-functions {
        width: 100% !important;
    }
    .find-courses .courses-container .courses {
        width: 100% !important;
    }
    .search-catagories {
        display: flex;
        flex-flow: column-reverse;
    }
    .find-courses .search-facets {
        margin-left: 0 !important;
    }
}



@media only screen and (max-width: 769px) {
    .listing-courses {
        max-width: 90vw;
    }

    .tp-banner-container .rs_fullwidth {
        margin-top: 5vh !important;
    }

    .tp-revslider-mainul {
        margin-top: 5vh !important;
    }
    .tp-simpleresponsive ul {
        margin-top: 5vh !important;
    }
    .discussion-body {
        flex-direction: column-reverse;
    }
    .logo {
        height: 50px !important;
    }


}

@media only screen and (min-width: 770px) {
    .toggle-menu {
        display: none;
    }

}

@media only screen and (min-width: 666px) {
    .custom-course-info {
        margin-top: 10vh ;
    }
}
