
{% extends "main_django.html" %}
{% with online_help_token="wiki" %}
{% load theme_pipeline %}{% load sekizai_tags i18n configuration %}{% load staticfiles %}

{% block title %}
  {% block pagetitle %}{% endblock %} | {% trans "Wiki" %} | {% platform_name %}
{% endblock %}

{% block bodyclass %}view-in-course view-wiki{% endblock %}

{% block headextra %}
  {% stylesheet 'course' %}
  {% stylesheet 'style-course-vendor' %}
  {% stylesheet 'style-course' %}

  
  <link rel="stylesheet" type="text/css" href="{% static 'paragon/static/paragon.min.css' %}" />
  <link href="{% static 'custom.css' %}" rel="stylesheet">
  <link href="{% static 'css/lms-course.css' %}" rel="stylesheet">

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic|Montserrat:400,700' rel='stylesheet'>
  <link rel="stylesheet" href="{% static 'css-palas/style.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/elegant_font/html_css/style.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/rs-plugin/css/settings.css' %}" media="screen" >
  <link rel="stylesheet" href="{% static 'plugins/owl-carousel/owl.carousel.css' %}" >

  
  <script type="text/javascript">
    function ajaxError(){}

    $.ajaxSetup({
      timeout: 7000,
      cache: false,
      error: function(e, xhr, settings, exception) {
          ajaxError();
      }
    });

    function jsonWrapper(url, callback) {
      $.getJSON(url, function(data) {
        if (data == null) {
          ajaxError();
        } else {
          callback(data);
        }
      });
    }
  </script>

  {% comment %} The wiki page does not use the main.html template {% endcomment %}
  <script type="text/javascript" src="{% static 'js/header/header.js' %}"></script>

  {% addtoblock 'js' %}
    {% comment %} These scripts load at the bottom of the body {% endcomment %}
    <script src="{% static 'js/bootstrap-alert.js' %}"></script>
    <script src="{% static 'js/bootstrap-collapse.js' %}"></script>
    <script src="{% static 'js/bootstrap-modal.js' %}"></script>
    <script src="{% static 'js-palas/script.js' %}"></script>
    <script src="{% static 'js/vendor/noreferrer.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/utils/navigation.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/header/header.js' %}"></script>

    <script type="text/javascript" src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/rs-plugin/js/jquery.themepunch.tools.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'plugins/rs-plugin/js/jquery.themepunch.revolution.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'plugins/jquery.appear.js'%}"></script>
    <script type="text/javascript" src="{% static 'plugins/retina.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'plugins/stellar.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'plugins/sticky.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'plugins/owl-carousel/owl.carousel.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'plugins/isotope/isotope.pkgd.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'plugins/isotope/imagesloaded.pkgd.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/main.js'%}"></script>

    {% with mathjax_mode='wiki' %}
      {% include "mathjax_include.html" %}
    {% endwith %}
  {% endaddtoblock %}

{% endblock %}

{% block body %}
  {% if request.course %}
  {% with course=request.course %}
    {% include "courseware/course_navigation.html" with active_page_context="wiki" %}
  {% endwith %}
  {% endif %}

<div class="container">
    {% load render_bundle from webpack_loader %}
    {% render_bundle "AlertStatusBar" %}

  <div class="wiki-wrapper">
    <main id="main" aria-label="Content" tabindex="-1">
      
          <section class="wiki {{ selected_tab }}" id="wiki-content"
            {% if request.course.language %}
              lang="{{ request.course.language }}"
            {% endif %}
          >
        {% block wiki_body %}

          {% block wiki_breadcrumbs %}{% endblock %}

          {% if messages %}
            {% for message in messages %}
              <div id="alert_stat_bar"></div>
              <script type="text/javascript">
                new StatusAlertRenderer(
                  "{{ message }}",
                  "#alert_stat_bar",
                  ".nav nav-tabs"
                );
              </script>

            {% endfor %}
          {% endif %}

          {% block wiki_contents %}{% endblock %}

        {% endblock %}

      </section>
    </main>
  </div>
</div>

{% endblock %}
{% endwith %}
