<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<%! from django.utils.translation import ugettext as _ %>
  <section class="courses-container">
    <section class="highlighted-courses">
      <div class="content">
          <div class="row mb10">
            <div class="col-sm-6">
              <h3 class="title-medium br-bottom">รายวิชาทั้งหมด</h3>
            </div>
          </div>

          <div class="row" >
          <div class="col-sm-12">
            <div id="portfolio-isotope">
              <div class="row col-p5">
                <div class="" style="height:none;" >
                  % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
                  ## limiting the course number by using HOMEPAGE_COURSE_MAX as the maximum number of courses
                      %for index in range(len(courses[:homepage_course_max])):
                        <div class="custom-course col-sm-6 col-md-4 py5 ">
                          <%include file="course.html" args="course=courses[index]" />
                        </div>
                        % if (index + 1) % 3 == 0:
                            <div class="clearfix"></div>
                        % endif
                      %endfor
                  ## in case there are courses that are not shown on the homepage, a 'View all Courses' link should appear
                      % if homepage_course_max and len(courses) > homepage_course_max:
                        <div class="courses-more">
                            <a class="courses-more-cta" href="${marketing_link('COURSES')}"> ${_("View all Courses")} </a>
                        </div>
                      % endif
                  % endif
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </section>
  </section>


