<%def name="online_help_token()"><% return "course" %>
</%def>
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse
from six import text_type
%>
<%page args="course" expression_filter="h"/>
<div class="portfolio-el view course" id="${course.id}" role="region" aria-label="${course.display_name_with_default}">
    <img src="${course.course_image_url}" alt="${course.display_name_with_default} ${course.display_number_with_default}" />
    <a href="${reverse('about_course', args=[text_type(course.id)])}" class="mask">
        <div class="portfolio-middle">
            <h3 class="project-title br-bottom">${course.display_name_with_default}</h3>
            <p class="text">${course.display_org_with_default}</p>
            <p class="text">${course.display_number_with_default}</p>
        </div>
        <%
          if course.start is not None:
              course_date_string = course.start.strftime('%Y-%m-%dT%H:%M:%S%z')
          else:
              course_date_string = ''
        %>
          % if course.advertised_start is not None:
              <p class="date">${_("Starts")}: ${course.advertised_start}</p>
          % else:
              <p class="date localized_datetime"  aria-hidden="true" data-format="shortDate" data-datetime="${course_date_string}" data-string="${_("Starts: {date}")}"></p>
          % endif
        
        <div class="sr">
            <ul>
                <li>${course.display_org_with_default}</li>
                <li>${course.display_number_with_default}</li>
                % if course.advertised_start is not None:
                    <li>${_("Starts")}: <time itemprop="startDate">${course.advertised_start}</time></li>
                % else:
                    <li>${_("Starts")}: <time class="localized_datetime" itemprop="startDate" data-format="shortDate" data-datetime="${course_date_string}"></time></li>
                % endif
            </ul>
        </div>
    </a>
    <div><p class="title-small br-bottom mt10">${course.display_name_with_default}</p></div>
</div>
<%static:require_module_async module_name="js/dateutil_factory" class_name="DateUtilFactory">
    DateUtilFactory.transform(iterationKey=".localized_datetime");
</%static:require_module_async>