<%page expression_filter="h"/>
<%inherit file="main.html" /> 
<%namespace name='static' file='static_content.html'/> 
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<div id="wrapper">
  <div class="tp-banner-container rs_fullwidth" >
    <div class="tp-banner">
      <ul>
        <li data-transition="fade" data-masterspeed="500" data-slotamount="7" data-delay="8000" data-title="Slide 1">
          <!-- Background Image -->
          <img src="${static.url("images/slide2.jpg")}" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"
            alt="">
          <div class="bg-overlay op4"></div>
          
          <div class="tp-caption sfb stt"
					      data-x="left" data-hoffset="15"
					      data-y="center" data-voffset="-75" 
					      data-speed="600" data-start="600"
					      data-endspeed="400" data-end="7900"
					      data-easing="Power3.easeInOut" data-endeasing=""
					      style="z-index: 4">
					    <h3 class="title-slider-large uppercased mb10 title-slide">Thammasat Gen Next Academy</h3>
				  </div>


          <div class="tp-caption sfb stt"
					    data-x="left" data-hoffset="15"
					    data-y="center" data-voffset="30" 
					    data-speed="700" data-start="800"
					    data-endspeed="500" data-end="7950"
					    data-easing="Power3.easeInOut" data-endeasing=""
					    style="z-index: 4">
					    <p class="title-slider-small title-slide">โครงการที่เปิดโอกาสให้ประชาชนทั่วไป <br>ไม่จำกัดอายุ ไม่จำกัดวุฒิการศึกษา ไม่จำกัดสัญชาติ<br> เข้ามาเรียนในรายวิชาต่างๆ
						ที่เปิดสอนของมหาวิทยาลัย ได้ตามความสนใจ  <br>บุคคลที่เข้าร่วมโครงการนี้ จะถูกเรียกว่า "ศิษย์ธรรมศาสตร์"</p>
				  </div>


          <div class="tp-caption sfb stt"
					      data-x="left" data-hoffset="15"
					      data-y="center" data-voffset="130" 
					      data-speed="800" data-start="1000"
					      data-endspeed="600" data-end="8000"
					      data-easing="Power3.easeInOut" data-endeasing=""
					      style="z-index: 4">
					      <a href="https://reg.gennext.tu.ac.th/accounts/signup/" class="btn-slider reversed">Register Now</a>
				  </div>
        </li>

        <!-- SLIDE 2 -->
        <li data-transition="fade" data-slotamount="7" data-delay="8000" data-title="Slide 2">
          <!-- Background Image -->
          <img src="${static.url("images/slide2.png")}" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"
            alt="">
          <div class="bg-overlay op4"></div>

          <div class="tp-caption sfl stt"
					      data-x="left" data-hoffset="15"
					      data-y="center" data-voffset="-10" 
					      data-speed="600" data-start="600"
					      data-endspeed="400" data-end="7800"
					      data-easing="Power3.easeInOut" data-endeasing=""
					      style="z-index: 4">
					      <h2 class="title-slider-large mb20 title-slide">“Agile and Dynamic Learning Path”</h2>
					  <div class="br-bottom"></div>
				  </div>

          <div class="tp-caption sfl stb"
					      data-x="left" data-hoffset="15"
					      data-y="center" data-voffset="110" 
					      data-speed="700" data-start="800"
					      data-endspeed="400" data-end="7900"
					      data-easing="Power3.easeInOut" data-endeasing=""
					      style="z-index: 4">
					      <h4 class="title-slider-large"></h4>
				  </div>
        </li>

         <!-- SLIDE 3 -->
         <li data-transition="fade" data-slotamount="7" data-delay="8000" data-title="Slide 2">
          <!-- Background Image -->
          <img src="${static.url("images/slide.png")}" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"
            alt="">
          <div class="bg-overlay op6"></div>

          <div class="tp-caption sfl stl"
					      data-x="left" data-hoffset="15"
					      data-y="center" data-voffset="-15" 
					      data-speed="700" data-start="600"
					      data-endspeed="400" data-end="7800"
					      data-easing="Power3.easeInOut" data-endeasing=""
					      style="z-index: 4">
					      <h2 class="title-slider-small title-slide">Thammasat Gen Next Academy</h2>
					      <span class="title-slider-small title-slide">สอบถามเพิ่มเติมได้ที่
					      <br>Facebook : เพจ ฝ่ายวิชาการ มธ. 
					      <br>เบอร์ติดต่อ 02-564-4440 ต่อ 1826 
					      <br>line @ พิมพ์ @tu-gennextacademy</span>
				  </div>

          <div class="tp-caption sfl stl"
					      data-x="left" data-hoffset="15"
					      data-y="center" data-voffset="70" 
					      data-speed="700" data-start="1000"
					      data-endspeed="400" data-end="7900"
					      data-easing="Power3.easeInOut" data-endeasing=""
					      style="z-index: 4">
					      <h2 class="title-slider-large title-slide">ลงทะเบียนรายวิชา 1 - 26 มกราคม 2563</h2>
          </div>
          
          <div class="tp-caption sfb stl"
					      data-x="left" data-hoffset="15"
					      data-y="center" data-voffset="120" 
					      data-speed="900" data-start="1200"
					      data-endspeed="600" data-end="7950"
					      data-easing="Power3.easeInOut" data-endeasing=""
					      style="z-index: 4">
					      <a href="https://reg.gennext.tu.ac.th/accounts/signup/" class="btn-slider reversed">Register now</a>
				  </div>
        </li>
      </ul>
    </div>
  </div>

	<section class="section mt40">
  <div class="content">
    <div class="row col-p30">
      <div class="col-sm-4 xs-box2">
        <div class="box-services-c">
          <i class="icon_mobile fa fa-style4"></i>
          <h3 class="title-small br-bottom-center">เรียนสนุก ทุกอุปกรณ์</h3>
          <p class="mb0">ระบบบถูกออกแบบมาให้มีความใช้งานเข้ากันได้กับทุกอุปกรณ์ ไม่ว่าจะเป็นคอมพิวเตอร์ Smart Phone</p>
        </div>
      </div>
      <div class="col-sm-4 xs-box2">
        <div class="box-services-c">
          <i class="icon_gift_alt fa fa-style4"></i>
          <h3 class="title-small br-bottom-center">ค่าใช้จ่ายถูก เมื่อเทียบกับระบบอื่น</h3>
          <p class="mb0">มีรายวิชามากมายที่เปิดโอกาสให้ผู้เรียนสามารถหาความรู้ได้ฟรีโดยไม่มีค่าใช้จ่าย หรือค้นหาส่วนลดได้</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="box-services-c">
          <i class="icon_star_alt fa fa-style4"></i>
          <h3 class="title-small br-bottom-center">ต่อยอดได้จริงด้านการศึกษา</h3>
          <p class="mb0">ใบประกาศนียบัตรสามารถเทียบโอนได้ไม่เสียเวลา โดยเก็บเครดิตที่ได้จากระบบ เทียบโอนเข้าสู่การเรียนปกติ</p>
        </div>
      </div>
    </div>
  </div>
	</section>
	
	<section class="section-bg p0 section-dark data-height-fix">
  <div class="row col-p0">
    <div class="col-sm-6 hidden-xs">
      <div class="box-services-d p0 bg-img bg16">
        <div class="bg-overlay"></div>
        <div class="set-height"></div>
      </div>
    </div>
  </div>
  <div class="section-caption">
    <div class="content">
      <div class="row col-p0">
        <div class="col-sm-5 col-sm-offset-7 get-height">
          <div class="mb50 mt50">
            <h3 class="title-medium color-on-dark">About us</h3>
            <div class="br-bottom mb20 color-on-dark"></div>
            <p class="mb50 color-on-dark">มหาวิทยาลัยธรรมศาสตร์ ยกระดับยุทธศาสตร์รับการเปลี่ยนแปลงของโลกและตอบโจทย์ผู้เรียนยุคใหม่ 
							จัดตั้ง “ธรรมศาสตร์ตลาดวิชา (Thammasat Gen Next Academy)” เพื่อขยายโอกาสทางการศึกษาแก่ประชาชน และการพัฒนาตนเองตามความประสงค์ของผู้เรียน 
							ตามปรัชญาเสรีภาพทางการศึกษาของท่านผู้ประสาทการมหาวิทยาลัยธรรมศาสตร์ โดยได้ปรับเปลี่ยนรูปแบบการให้บริการให้ทันสมัยสามารถเข้าถึงความต้องการของผู้เรียน
							ทุกกลุ่มวัย ทั้งแบบออนไลน์ แบบเรียนห้องเรียนที่ มหาวิทยาลัย หรือ หลักสูตรฝึกอบรมเฉพาะที่มหาวิทยาลัยมีความเชี่ยวชาญ</p>
          </div>
        </div>
      </div>
    </div>
  </div>
	</section>
	

	<section class="">
		<main id="main" aria-label="Content" tabindex="-1" class="content-wrapper main-container main-body">
		    <%include file="${courses_list}" />
		</main>
	</section>
	
	<section class="section">
		<div class="content" >
			<div class="row col-p30" width="80vw" style="margin:0 auto;">
			<div class="col-sm-12 col-md-6 sm-box2">
				<div class="box-services-b">
				<div class="box-left"><i class="fa fa-style2 icon_lifesaver"></i></div>
				<div class="box-right">
					<h3 class="title-small">Personalized-based learning path  
						<!-- <a href="#" class="link-read-more">read more</a> -->
					</h3>
					<p class="mb10">สร้างการเรียนรู้ที่เหมาะกับแต่ละคน </p>
				</div>
				</div>
		
				<div class="mb50"></div>
		
				<div class="box-services-b">
				<div class="box-left"><i class="fa fa-style2 icon_box-checked"></i></div>
				<div class="box-right">
					<h3 class="title-small">Competency focus
						<!-- <a href="#" class="link-read-more">read more</a> -->
					</h3>
					<p class="mb10">สร้างสมรรถนะและทักษะที่จำเป็นที่ไม่สามารถทดแทนได้โดยง่าย</p>
				</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-6">
				<div class="box-services-b">
				<div class="box-left"><i class="fa fa-style2 icon_lightbulb_alt"></i></div>
				<div class="box-right">
					<h3 class="title-small">Outcome-based education
						<!-- <a href="#" class="link-read-more">read more</a> -->
					</h3>
					<p class="mb10">ต้องเริ่มออกแบบจาก Learning Outcomes ไม่ใช่จากรายวิชาที่ควรหรือต้องเรียน</p>
				</div>
				</div>
		
				<div class="mb50"></div>
		
				<div class="box-services-b">
				<div class="box-left"><i class="fa fa-style2 icon_piechart"></i></div>
				<div class="box-right">
					<h3 class="title-small">Experiential-based learning integration
							<!-- <a href="#" class="link-read-more">read more</a> -->
					</h3>
					<p class="mb10">ผสานการเรียนรู้ที่หลากหลายรูปแบบ</p>
				</div>
				</div>
			</div>
			</div>
		</div>
	</section>
	
</div>