<!DOCTYPE html>
{% load sekizai_tags i18n configuration theme_pipeline optional_include staticfiles %}
<html lang="{{LANGUAGE_CODE}}">
<head>
  <meta charset="UTF-8">
  <meta name="mobile-web-app-capable" content="yes">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{ platform_name }}{% endblock %}</title>

  <link rel="icon" type="image/x-icon" href="{% favicon_path %}" />
  <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
  <link href="{% static 'css/lms-main.css' %}" rel="stylesheet">
  {% with "js/i18n/"|add:LANGUAGE_CODE|add:"/djangojs.js" as i18njs_path %}
    <script type="text/javascript" src="{% static i18njs_path %}"></script>
  {% endwith %}

  {% stylesheet 'style-vendor' %}
  {% stylesheet 'style-main-v1' %}

  {% block main_vendor_js %}
  {% javascript 'main_vendor' %}
  {% endblock %}
  {% block headextra %}{% endblock %}
  {% render_block "css" %}

  {% optional_include "head-extra.html"|microsite_template_path %}

  <meta name="path_prefix" content="{{EDX_ROOT_URL}}">
</head>

<body class="{% block bodyclass %}{% endblock %} lang_{{LANGUAGE_CODE}}">
    {% load render_bundle from webpack_loader %}
    {% render_bundle "commons" %}
  <div class="window-wrap" dir="{{LANGUAGE_BIDI|yesno:'rtl,ltr'}}">
    <a class="nav-skip" href="#main">{% trans "Skip to main content" %}</a>
    {% with course=request.course %}
      {% include "header.html"|microsite_template_path with online_help_token=online_help_token  %}
    {% endwith %}
    <div class="content-wrapper" id="content">
      {% block body %}{% endblock %}
      {% block bodyextra %}{% endblock %}
    </div>
    {% with course=request.course %}
      {% include "footer.html"|microsite_template_path %}
    {% endwith %}

  </div>

    {% javascript 'base_application' %}

    {% render_block "js" %}
</body>
</html>

{% comment %}
  This is a django template version of our main page from which all
  other pages inherit. This file should be rewritten to reflect any
  changes in main.html! Files used by {% include %} can be written
  as mako templates.

  Inheriting from this file allows us to include apps that use the
  django templating system without rewriting all of their views in
  mako.
{% endcomment %}
