<%!
  from courseware.courses import get_course_about_section
%>
<%namespace name='static' file='static_content.html'/>

<div id="video-modal" class="modal video-modal">
  <div class="inner-wrapper" style="margin:0 auto; height: 340px !important;">
    ${get_course_about_section(request, course, "video")}
  </div>
</div>
