## mako

<%page expression_filter="h" args="online_help_token"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>
<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
%>

<%
  show_explore_courses = settings.FEATURES.get('COURSES_ARE_BROWSABLE') and not show_program_listing
  show_sysadmin_dashboard = settings.FEATURES.get('ENABLE_SYSADMIN_DASHBOARD','') and user.is_staff
  self.real_user = getattr(user, 'real_user', user)

  support_link = configuration_helpers.get_value('SUPPORT_SITE_LINK', settings.SUPPORT_SITE_LINK)
  doc_link = get_online_help_info(online_help_token)['doc_url']

  if online_help_token == "instructor":
    help_link = doc_link
  elif support_link:
    help_link = support_link
  else:
    help_link = doc_link
%>

  <div class="nav-links">
      <div class="main">
          <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
            <a class="${'active ' if reverse('dashboard') == request.path else ''}tab-nav-link" href="${reverse('dashboard')}">
              ${_("My Courses")}
            </a>
          </div>
          <div class=" mobile-nav-item hidden-mobile nav-item nav-tab">
            <a class="tab-nav-link" href="${marketing_link('COURSES')}">${_('Discover New')}</a>
          </div>
          
          <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
            <a class="${'active ' if '/u/' in request.path  else ''}tab-nav-link" href="${reverse('learner_profile', args=[self.real_user.username])}">
              ${_("Profile")}
            </a>
          </div>
          <div class=" nav-item nav-tab ">
            <%include file="user_dropdown.html"/>
          </div>
      </div>
  </div>
