## mako
<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>

<%!
from django.urls import reverse
from django.utils.translation import ugettext as _

from openedx.core.djangoapps.user_api.accounts.image_helpers import get_profile_image_urls_for_user
from openedx.core.djangoapps.user_api.accounts.utils import retrieve_last_sitewide_block_completed
from openedx.features.enterprise_support.utils import get_enterprise_learner_generic_name
%>

<%
## This template should not use the target student's details when masquerading, see TNL-4895
self.real_user = getattr(user, 'real_user', user)
profile_image_url = get_profile_image_urls_for_user(self.real_user)['medium']
username = self.real_user.username
resume_block = retrieve_last_sitewide_block_completed(self.real_user)
displayname = get_enterprise_learner_generic_name(request) or username
%>


    <div class="btn-group">
        <a class="btn custom-button dropdown-toggle" data-toggle="dropdown">
            <span class="mr10">${displayname}</span> <span class="caret"></span>
        </a>
       
            <ul class="dropdown-menu" role="menu">
                <li><a class="link-reset" href="${reverse('dashboard')}" role="menuitem">${_("My Course")}</a></li>
                <li><a class="link-reset" href="${marketing_link('COURSES')}" role="menuitem">${_("Discover New")}</a></li>
                <li><a class="link-reset" href="${reverse('learner_profile', kwargs={'username': username})}" role="menuitem">${_("Profile")}</a></li>
                <li><a class="link-reset" href="${reverse('logout')}" role="menuitem">${_("Sign Out")}</a></li>
            </ul>
        
    </div>
    
