<div class="message-banner" aria-live="polite"></div>

<div class=" wrapper-profile">
    <div class="profile profile-other">
        <div class="wrapper-profile-field-account-privacy"></div>
        <div class="wrapper-profile-sections account-settings-container">
            <div class="wrapper-profile-section-container-one">
                <div class="wrapper-profile-section-one">
                    <div class="profile-image-field">
                    </div>
                    <div class="profile-section-one-fields">
                    </div>
                </div>
                <div class="ui-loading-error is-hidden">
                    <span class="fa fa-exclamation-triangle message-error" aria-hidden="true"></span>
                    <span class="copy">An error occurred. Try loading the page again.</span>
                </div>
            </div>
            <div class="wrapper-profile-section-container-two">
                <div class="wrapper-profile-bio">
                </div>
            </div>
        </div>
    </div>
    <div class="ui-loading-indicator">
        <p>
      <span class="spin">
        <span class="icon fa fa-refresh" aria-hidden="true"></span>
      </span>
            <span class="copy">
          Loading
      </span>
        </p>
    </div>
    <div class="ui-loading-error is-hidden">
        <span class="fa fa-exclamation-triangle message-error" aria-hidden="true"></span>
        <span class="copy">
      An error occurred. Please reload the page.
    </span>
    </div>
</div>

